ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    background: #F5F5F5;
}
.line-through{
    text-decoration: line-through;
}
.heading-border-bottom{
    border-bottom: 1px solid #222222;
    margin-bottom: 20px;
}
.padding-none{
    padding: 0;
}
.btn-theme-red{
    background: #FF0D0D;
    border-color: #FF0D0D;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}
.btn-theme-red:hover{
    background: #222222;
    border-color: #222222;
    color: #fff;
}

.btn-theme-black{
    background: #222222;
    border-color: #222222;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}
.btn-theme-black:hover{
    background: #FF0D0D;
    border-color: #FF0D0D;
    color: #fff;
}
.conference-list-title {
    font-size: 1em;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
#main-header {
    padding: 10px 0;
}
#main-menu{
    background: #222222;
}
#main-menu ul li {
    float: left;
    list-style: none;
}
#main-menu ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 20px;
}
#main-menu ul li a:hover, #main-menu ul li a.active{
    background: #FF0D0D;
}
#page-content{
    margin-top: 30px;
    margin-bottom: 30px;
}
.conferences-list-conference .card{
    height: 320px;
    overflow: hidden;
}
.conference-list-date-location {
    margin-bottom: 0.3rem;
    font-size: 14px;
    font-style: italic;
}
.conference-list-date-location li{
    display: block;
}
.conferences-list .row{
    margin-bottom: 30px;
}
.conferences-list .card-text{
    font-size: 14px;
}
.conferences-list-read-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.discount {
    background: #222222;
    color: #fff;
    position: absolute;
    left: 0;
    padding: 3px 6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    bottom: 10px;
}
.discount .discount-percent, .discount .discount-price {
    font-weight: bold;
    font-size: 16px;
}
footer {
    background: #222222;
    color: #fff;
    padding: 10px 0;
}
.search-btn{
    width: 100%;
    margin-top: 20px;
}
.search-sub-heading{
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.card-img-box{
    height: 100px;
    overflow: hidden;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.conferece-list-image-placeholder {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: #eeeeee;
    color: #bbbbbb;
    font-size: 50px;
    padding-top: 10px;
}
.conferences-list-conference .card{
    box-shadow: 5px 5px 10px 5px #dddddd;
}
#search-city-box{
    display: none;
}
#select-city{
    max-height: 90px;
    overflow-y: auto;
}
#select-city li{
    padding-left: 3px;
    margin-bottom: 7px;
}
#select-city .custom-control{
    padding-left: 5px;
}

#loading-cities img{
    width: 40px;
}
#search-months li{
    margin-bottom: 7px;
}
.social-share-buttons{
    padding-left: 0;
}
.social-share-buttons li{
    float: left;
    margin-right: 5px;
}
.pagination li a.page-link, .pagination li.disabled a.page-link{
    background: #222222;
    border-color: #fff;
    color: #fff;
}
.pagination li.active a.page-link{
    background: #FF0D0D;
    border-color: #FF0D0D;
    color: #fff;
}
ul.footer-social-icons {
    float: right;
}
ul.footer-social-icons li {
    float: left;
    display: block;
    margin-left: 5px;
}
ul.footer-social-icons li a{
    color: #fff;
    font-size: 26px;
}
ul.footer-social-icons li a:hover{
    color: #fff;
}
footer .copyright-text{
    line-height: 46px;
}
.conferences-list .card-body{
    padding: 1rem;
}
.search-sidebar{
    margin-bottom: 30px;
}
.search-sidebar .card{
    border: 1px solid #dddddd;
}
.search-sidebar h4.card-header{
    font-size: 20px;
    background: #222222;
    color: #fff;
}
.search-sidebar h5.search-sub-heading{
    font-size: 16px;
}
.search-sidebar label{
    font-size: 14px;
}
.search-sidebar select{
    font-size: 14px;
}
.conference-details-poster img{
    width: 100%;
}
#search-months {
    display: block;
    overflow-y: auto;
    height: 165px;
}
#search-months-btn{
    display: none;
    cursor: pointer;
}
#search-months-btn:hover{
    color: #FF0D0D;
}
.custom-control-input:checked~.custom-control-indicator{
    background-color: #FF0D0D;
}

.header-promote-event-btn{
    font-size: 18px;
    padding: 5px 20px;
    float: right;
    margin-top: 20px;
}

.ribbon-wrapper {
    width: 105px;
    height: 105px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: 14px;
    z-index: 99;
}
.ribbon-wrapper .ribbon {
    font: bold 12px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 21px;
    left: -30px;
    width: 133px;
    color: #fff;
}
.header-collapse-menu {
    float: right;
    font-size: 30px;
    margin-top: 20px;
    display: none;
}
.collapse {
    display: block;
}
.category-title{
    text-align: left;
}
.view-category-btn a{
    float: right;
}
#main-menu{
    border-top: none;
}
#search-block-btn{
    display: none;
}

@media (max-width: 576px) {
    #main-menu{
        border-top: 1px solid #222222;
    }
    #search-block{
        display: none;
    }
    #search-block-btn{
        display: block;
    }
    #search-months{
        display: none;
    }
    #search-months-btn{
        display: block;
    }
    footer .copyright-text{
        text-align: center;
        line-height: 24px;
    }
    ul.footer-social-icons {
        float: none;
        margin: 0 auto;
        width: 110px;
    }
    .header-logo{
        text-align: center;
    }
    .padding-left-right-15{
        padding-right: 15px;
        padding-left: 15px;
    }
    .header-promote-event-btn{
        float: left;
    }
    .header-collapse-menu {
        display: block;
    }
    #main-menu ul li {
        width: 100%;
        text-align: center;
    }
    .collapse {
        display: none;
    }
    .category-title{
        text-align: center;
    }
    .view-category-btn {
        text-align: center;
        margin-bottom: 25px;
    }
    .view-category-btn a{
        float: none;
    }
}

@media (max-width: 768px) {
    footer .copyright-text{
        line-height: 24px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}