<h3>Event Discount Contact Form</h3>

<p><strong>Sender Name:</strong> {{ senderName }} </p>
<p><strong>Sender Email:</strong> {{ senderEmail }} </p>
<p><strong>Sender Subject:</strong> {{ senderSubject }} </p>
<p><strong>Sender Message:</strong> {{ senderMessage }} </p>