<h3>Promote My Event Form</h3>

<p><strong>Sender Name:</strong> {{ senderName }} </p>
<p><strong>Sender Email:</strong> {{ senderEmail }} </p>
<p><strong>Sender Mobile No:</strong> {{ senderMobile }} </p>