<div id="content" style="width:550px">
    <div id="header" style="float:left; width:100%; background:#222222; padding:10px">
        <div id="logo" style="float:left; margin-right:10px"><img src="{{ headerLogo }}"></div>
        <div id="heading">

        </div>
    </div>
    <div id="body" style="width:100%; float:left; clear: both; padding:20px 10px;background: #F5F5F5">
        Hi {{ organizerName }}, <br><br>

        Thank you for Registration in Event Discount. we hope to promote you event and bring you fruitful Registrations. <br><br><br>
        <strong>Please find below your Registration details:</strong> <br><br>
        <strong>Username:</strong> {{ username }} <br>
        <strong>Password:</strong> ****** <br><br><br>

        <strong>For any Support Feel Free to contact us at: mail@eventsdiscount.com</strong> <br><br><br>

        <strong>Regards,</strong><br>
        Event Discount Team.<br><br>
    </div>
    <div id="footer" style="float:left;width:100%;background:#FF0D0D;color:#fff; padding:10px">
        <p style="text-align: center">Copyrights reserved to <a href="http://eventsdiscount.com" style="color:#fff">Events Discount</a> © 2017</p>
    </div>
</div>

