{% extends '::organizer/layout-organizer.html.twig' %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Dashboard</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}

