<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Events Discount| Benefit with our offers in Saudi Arabia{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}Events Discount{% endblock %}">
        <meta name="keywords" content="{% block metaKeywords %}Events Discount{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
        {% endblock %}
    </head>
    <body class="{% block bodyClass %}login{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
