{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" />
    {# <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" /> #}
    <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrapvalidator/dist/css/bootstrapValidator.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}" />
{% endblock %}

{% block bodyClass %}nav-md{% endblock %}

{% block body %}

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="{{ path('admin_dashboard') }}" class="site_title">
                            <img src="{{ asset('assets/images/logo-white.png') }}">
                        </a>
                    </div>

                    <div class="clearfix"></div>


                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-home"></i> Dashboard </a></li>
                                <li><a href="{{ path('admin_page') }}"><i class="fa fa-home"></i> Pages </a></li>
                                <li><a href="{{ path('admin_event') }}"><i class="fa fa-home"></i> Events </a></li>
                                <li><a><i class="fa fa-cog"></i>Settings <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{{ path('admin_category') }}">Manage Category</a></li>
                                        <li><a href="#">Manage Country</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('security_logout') }}"><i class="fa fa-power-off"></i> Logout </a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->



                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Admin
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="{{ path('security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            {% block content %}{% endblock %}
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Powered by <a target="_blank" href="http://damasmena.com">Damas Mena</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {# <script src="{{ asset('assets/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script> #}
    <script src="{{ asset('assets/vendors/bootstrapvalidator/dist/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
    <script src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}