{% extends '::admin/layout-admin.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Settings</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ formHeading }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {% form_theme categoryForm 'Forms/bootstrap_3_horizontal_layout.html.twig' %}

                            {{ form_start(categoryForm, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                            {{ form_widget(categoryForm) }}

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success" formnovalidate>Save</button>
                                </div>
                            </div>

                            {{ form_end(categoryForm) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}