{% extends '::admin/layout-admin.html.twig' %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Settings</h3>
                </div>
                <div class="pull-right">
                    <a class="btn btn-primary" href="{{ path('admin_category_add') }}">Add Category</a>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Categories</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {% if categories is empty %}
                                <p>No Category Available.</p>
                            {% else %}

                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th class="column-title">Id</th>
                                            <th class="column-title">Title</th>
                                            <th class="column-title no-link last"><span class="nobr">Action</span></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for category in categories %}
                                            <tr class="even pointer">
                                                <td class=" ">{{ category.id }}</td>
                                                <td class=" ">{{ category.title }}</td>
                                                <td class=" last">
                                                    <a href="{{ path('admin_category_edit',
                                                    {'id' : category.id}) }}">Edit</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}