{% extends '::front/layout-front.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block content %}

    <div id="page-content" class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                {% for message in app.flashes('success') %}
                    <div class="flash-notice">
                        <div class="col-md-12 alert alert-success">
                            <span>{{ message }}</span>
                        </div>
                    </div>
                {% endfor %}

                {{form_start(contactForm)}}
                {{form_widget(contactForm)}}

                <button class="btn btn-primary" type="submit" formnovalidate>Submit</button>

                {{form_end(contactForm)}}

            </div>

            <div class="col-md-6">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.688720066486!2d46.70359661446756!3d24.668840684144627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f048896de696f%3A0xe738e470ed225bb8!2sDamas+Mena+technical+Solutions+Company!5e0!3m2!1sen!2ssa!4v1514386515584" width="100%" height="400" frameborder="0" style="border:0"></iframe>

            </div>

        </div>
    </div>
{% endblock %}