{% extends '::front/layout-front.html.twig' %}

{% block title %}{{ (event.titleText is not null) ? event.titleText : parent() }}{% endblock %}
{% block metaDescription %}{{ (event.metaDescription is not null) ? event.metaDescription : parent() }}{% endblock %}
{% block metaKeywords %}{{ (event.metaKey is not null) ? event.metaKey : parent() }}{% endblock %}

{% block content %}

    <div class="modal fade" id="conference-expired-model" tabindex="-1" role="dialog" aria-labelledby="conference-expired-model-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="conference-expired-model-label">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Event Expired
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Event Has been Expired.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="page-content" class="container">
        <div class="row">
            {% include 'front/sidebar.html.twig' %}
            <div class="col-lg-9 col-md-8 conference-details">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ event.title }}</h2>
                        {{ social_share_buttons(event.title)|raw }}
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-6">
                        <div class="event-details-description">
                            {{ event.description|raw }}
                        </div>

                        <div class="card" style="margin-top: 20px">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starts:</strong>
                                    {{ event.startDate|date("d-m-Y") }}
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <strong>End:</strong>
                                    {{ event.endDate|date("d-m-Y") }}
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-building" aria-hidden="true"></i> <strong>Venue:</strong>
                                    {{ event.venue }}
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Location:</strong>
                                    {{ event.city ~ ',' ~ event.country }}
                                </li>
                                {% if event.website is not null %}
                                    <li class="list-group-item">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <strong>Website:</strong> <a target="_blank" href="{{ event.website }}">{{ event.website }}</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>

                        <div style="margin-top: 20px">
                            {% if event.coupon is not null %}
                                <div class="col-md-12 alert alert-success">
                                    <span>
                                        <strong>Coupon:</strong>
                                        {{ event.coupon }}
                                    </span>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                            {% if event.registrationLink is not null %}
                                <div class="col-md-12">
                                    {% if date(event.startDate) > date() %}
                                        <a target="_blank" class="btn btn-theme-red pull-right" href="{{ event.registrationLink }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register Online</a>
                                    {% else %}
                                        <button class="btn btn-theme-red pull-right" data-toggle="modal" data-target="#conference-expired-model">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i> Register Online
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="col-md-6 conference-details-poster">
                        {% if event.poster is not null %}
                            <img src="{{ asset('uploads/poster/' ~ event.poster) }}" class="img-fluid"
                                 alt="{{ event.posterTitle }}"
                                 title="{{ event.posterTitle }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}