{% extends '::front/layout-front.html.twig' %}

{% block content %}
    <div id="page-content" class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if categories is empty %}
                    <p>No Event Available.</p>
                {% else %}
                    {% for category in categories %}
                        <div class="row">
                            {% if category.eventsFilter|length > 0 %}
                                <div class="col-lg-12 heading-border-bottom padding-none">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <h3 class="category-title">{{ category.title }}</h3>
                                        </div>
                                        <div class="col-md-4 col-sm-4 view-category-btn">
                                            <a class="btn btn-sm btn-theme-black" href="{{ path('search_event', {'category': category.id}) }}">
                                                View All <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 padding-none margin-bottom-30">
                                    <div class="row padding-left-right-15">

                                        {% for event in category.eventsFilter %}
                                                <div class="col-lg-3 col-md-6 col-sm-12 margin-bottom-30 conferences-list-conference">
                                                    {% if event.ribbonTitle is not null %}
                                                        <div class="ribbon-wrapper">
                                                            <div class="ribbon" style="background: {{ (event.ribbonColor is not null) ? event.ribbonColor : '#3297DB' }}">{{ event.ribbonTitle }}</div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="card">
                                                        <div class="card-img-box">
                                                            {% if event.poster is not null %}
                                                                <img class="card-img-top" src="{{ asset('uploads/poster/' ~ event.poster) }}" alt="{{ event.title }}">
                                                            {% else %}
                                                                <div class="conferece-list-image-placeholder">
                                                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="card-body">

                                                            <h1 class="card-text conference-list-title">{{ event.title }}</h1>
                                                            <ul class="conference-list-date-location">
                                                                <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.startDate|date("d-m-Y") }}</li>
                                                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ event.city }}, {{ event.country }}</li>
                                                            </ul>
                                                            <p class="card-text">{{ event.description|slice(0, 65) ~ '...' }}</p>
                                                            <a href="{{ path('event_detail',
                                                            {'slug' : event.slug}) }}" class="conferences-list-read-btn btn btn-sm btn-theme-red pull-right">
                                                                Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                                            <!--
															<div class="discount">
                                                                {{ event_price(event)|raw }}
                                                            </div>
															-->
                                                        </div>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}