{% extends '::base.html.twig' %}

{% block metaKeywords %}medical conferences, Symposium, CME Credit hours , Medical Events, Discount,conference  Registration system, online conference  Registration, medical workshop, conference and workshop, Medical meeting{% endblock %}
{% block metaDescription %}Offering  discount  on various conferences, symposium, events, workshops and courses on medical and engineering field in GCC. Facilitating students, doctors, nurses, engineers  and professionals to easy register and get benefits .{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap-4/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/front.css') }}" />
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div id="main-header" class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 header-logo">
                    <a href="{{ path('index_show') }}">
                        <img src="{{ asset('assets/images/logo.png') }}">
                    </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 mobile-menu-bar">
                    <a href="{{ path('organizer_event_add') }}" class="btn btn-sm btn-theme-red header-promote-event-btn">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i> Promote My Event
                    </a>
                    <button class="navbar-toggler header-collapse-menu" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="main-menu" class="container-fluid">
        {% set route = app.request.server.get("REQUEST_URI") %}
        <div class="container">
            <div class="row">
                <ul class="collapse navbar-collapse" id="collapsibleNavbar">
                    <li><a {{ route ==  '/' ? 'class="active"' }} href="{{ path('index_show') }}">Home</a></li>
                    <li><a {{ route ==  '/events/search?category=1' ? 'class="active"' }} href="{{ path('search_event', {'category' : 1}) }}">Medical</a></li>
                    <li><a {{ route ==  '/events/search?category=2' ? 'class="active"' }} href="{{ path('search_event', {'category' : 2}) }}">Engineering</a></li>
                    <li><a {{ route ==  '/events/search?category=3' ? 'class="active"' }} href="{{ path('search_event', {'category' : 3}) }}">Exhibition</a></li>
                    <li><a {{ route ==  '/contact-us' ? 'class="active"' }} href="{{ path('contact_us') }}">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
        {% block content %}{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 copyright-text">
                    <span>Copyrights reserved to Events Discount © 2017</span>
                </div>
                <div class="col-md-4 col-sm-4">
                    <ul class="footer-social-icons">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/eventsdiscount/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/eventsdiscount">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/eventsdiscount/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/vendors/bootstrap-4/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/front.js') }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111257762-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-111257762-1');
    </script>

{% endblock %}