{% extends '::front/layout-front.html.twig' %}

{% block content %}
    <div id="page-content" class="container">
        <div class="row">
            {% include 'front/sidebar.html.twig' %}
            <div class="col-lg-9 col-md-8 conferences-list">

                <div class="row">

                    {% if events is empty %}
                        <div class="col-lg-12">
                            <p>No Event Available.</p>
                        </div>
                    {% else %}

                        {% for event in events %}
                            <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom-30 conferences-list-conference">
                                {% if event.ribbonTitle is not null %}
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon" style="background: {{ (event.ribbonColor is not null) ? event.ribbonColor : '#3297DB' }}">{{ event.ribbonTitle }}</div>
                                    </div>
                                {% endif %}
                                <div class="card">
                                    <div class="card-img-box">
                                        {% if event.poster is not null %}
                                            <img class="card-img-top" src="{{ asset('uploads/poster/' ~ event.poster) }}" alt="{{ event.title }}">
                                        {% else %}
                                            <div class="conferece-list-image-placeholder">
                                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-text conference-list-title">{{ event.title }}</h1>
                                        <ul class="conference-list-date-location">
                                            <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.startDate|date("d-m-Y") }}</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ event.city }}, {{ event.country }}</li>
                                        </ul>
                                        <p class="card-text">{{ event.description|slice(0, 65) ~ '...' }}</p>
                                        <a href="{{ path('event_detail',
                                        {'slug' : event.slug}) }}" class="conferences-list-read-btn btn btn-sm btn-theme-red pull-right">
                                            Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        <!--
										<div class="discount">
                                            {{ event_price(event)|raw }}
                                        </div>
										-->
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}

                </div>

                <div class="row">
                    <div class="col-lg-12">

                        {% if totalPages > 1 %}
                            <nav class="float-right" aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item {{ currentPage == 1 ? 'disabled' }}">
                                        {% if app.request.attributes.get('_route') == 'search_event' %}
                                            <a class="page-link" href="{{ path('search_event',
                                            app.request.query.all|merge({page: currentPage-1 < 1 ? 1 : currentPage-1}) ) }}">«</a>
                                        {% else %}
                                            <a class="page-link" href="{{ path('events', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}">«</a>
                                        {% endif %}
                                    </li>

                                    {% for i in 1..totalPages %}
                                        <li class="page-item {{ currentPage == i ? 'active' }}">
                                            {% if app.request.attributes.get('_route') == 'search_event' %}
                                                <a class="page-link" href="{{ path('search_event', app.request.query.all|merge({'page': i })) }}">{{ i }}</a>
                                            {% else %}
                                                <a class="page-link" href="{{ path('events', {page: i}) }}">{{ i }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}


                                    <li class="page-item {{ currentPage == totalPages ? 'disabled' }}">
                                        {% if app.request.attributes.get('_route') == 'search_event' %}
                                            <a class="page-link" href="{{ path('search_event',
                                            app.request.query.all|merge({page: currentPage+1 <= totalPages ? currentPage+1 : currentPage}) ) }}">»</a>
                                        {% else %}
                                            <a class="page-link" href="{{ path('events', {page: currentPage+1 <= totalPages ? currentPage+1 : currentPage}) }}">»</a>
                                        {% endif %}
                                    </li>

                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}