{% extends '::front/layout-front.html.twig' %}

{% block title %}{{ (page.title is not null) ? page.title : parent() }}{% endblock %}
{% block metaDescription %}{{ (page.metaDescription is not null) ? page.metaDescription : parent() }}{% endblock %}
{% block metaKeywords %}{{ (page.metaKey is not null) ? page.metaKey : parent() }}{% endblock %}

{% block content %}

    <div id="page-content" class="container">
        <div class="row">
            {% include 'front/sidebar.html.twig' %}
            <div class="col-md-9">

                <h1>{{ page.title }}</h1>

                {{ page.content|raw }}

            </div>
        </div>
    </div>
{% endblock %}