{% extends '::front/layout-front.html.twig' %}

{% block title %}Promote My Event{% endblock %}

{% block content %}

    <div id="page-content" class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Promote My Event</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                {% for message in app.flashes('success') %}
                    <div class="flash-notice">
                        <div class="col-md-12 alert alert-success">
                            <span>{{ message }}</span>
                        </div>
                    </div>
                {% endfor %}

                {{form_start(promoteMyEventForm)}}
                {{form_widget(promoteMyEventForm)}}

                <button class="btn btn-primary" type="submit" formnovalidate>Submit</button>

                {{form_end(promoteMyEventForm)}}

            </div>

        </div>
    </div>
{% endblock %}