<div class="col-lg-3 col-md-4 search-sidebar">
    <div class="card">
        <h4 class="card-header">
            <i class="fa fa-search" aria-hidden="true"></i> Search
            <span id="search-block-btn" class="pull-right">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </h4>
        <div id="search-block" class="card-body">

            <form action="{{ path('search_event') }}" method="get">

                {% if categories() is not empty %}
                    <h5 class="search-sub-heading" for="select-category"><i class="fa fa-tag" aria-hidden="true"></i> Category</h5>
                    <div class="form-group">
                        <!--<label for="select-category"><strong>Category</strong></label>-->
                        <select class="custom-select form-control" id="select-category" name="category">
                            <option selected value="">Select Category</option>
                            {% for category in categories() %}
                                <option value="{{ category.id }}"
                                        {{ selectedCategory is defined and selectedCategory == category.id ? 'selected' : '' }}>{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}


                {% if countries() is not empty %}
                    <h5 class="search-sub-heading"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h5>
                    <div class="form-group">
                        <label for="select-country"><strong>Country</strong></label>
                        <select class="custom-select form-control" id="select-country" name="country">
                            <option selected value="">Select Country</option>
                            {% for country in countries() %}
                                <option value="{{ country.id }}"
                                        {{ selectedCountry is defined and selectedCountry == country.id ? 'selected' : '' }}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="search-city-box">
                        <label for="select-city"><strong>Cities</strong></label>
                        <div id="loading-cities" class="text-center">
                            <img src="{{ asset('assets/images/fb-loading.gif') }}">
                        </div>
                        <ul id="select-city">

                        </ul>
                        {% if selectedCities is defined %}
                            <script>
                                var citeis = {{ selectedCities|json_encode()|raw }};
                                var SELECTED_CITIES = citeis.map(function(item) {
                                    return parseInt(item);
                                });
                            </script>
                        {% else %}
                            <script>
                                var SELECTED_CITIES = [];
                            </script>
                        {% endif %}
                    </div>
                {% endif %}
                {% if months() is not empty %}
                    <h5 class="search-sub-heading" style="margin-top: 30px;">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Months
                        <span id="search-months-btn" class="pull-right">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </span>
                    </h5>
                    <ul id="search-months">
                        {% for month in months() %}
                            <li>
                                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                    <input {{ selectedMonths is defined and month.value in selectedMonths ? 'checked' : '' }}
                                            name="months[]" type="checkbox" class="custom-control-input" value="{{ month.value }}">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{ month.title }}</span>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <button type="submit" class="btn btn-theme-red search-btn"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            </form>

        </div>
    </div>
</div>