{% if is_granted('ROLE_ADMIN') %}
    {% set layout = 'admin/layout-admin.html.twig' %}
    {% set user_role = 'admin' %}
{% else %}
    {% set layout = 'organizer/layout-organizer.html.twig' %}
    {% set user_role = 'organizer' %}
{% endif %}

{% extends '::' ~ layout %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>My Events</h3>
                </div>
                <div class="pull-right">
                    <a class="btn btn-primary" href="{{ path(user_role ~ '_event_add') }}">Add Event</a>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Events</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {% if events is empty %}
                                <p>No Event Available.</p>
                            {% else %}

                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th class="column-title">Id</th>
                                            <th class="column-title">Title</th>
                                            <th class="column-title">Status</th>
                                            <th class="column-title no-link last"><span class="nobr">Action</span></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for event in events %}
                                            <tr class="even pointer">
                                                <td class=" ">{{ event.id }}</td>
                                                <td class=" ">{{ event.title }}</td>
                                                <td class=" ">
                                                    {% if event.status == 1 %}
                                                        Active
                                                    {% elseif event.status == 2 %}
                                                        Block
                                                    {% elseif event.status == 3 %}
                                                        Closed
                                                    {% else %}
                                                        Pending
                                                    {% endif %}
                                                </td>
                                                <td class=" last">
                                                    <a href="{{ path(user_role ~ '_event_edit',
                                                    {'id' : event.id}) }}">Edit</a> |
                                                    <a href="{{ path(user_role ~ '_event_delete',
                                                    {'id' : event.id}) }}">Delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}