{% if is_granted('ROLE_ADMIN') %}
    {% set layout = 'admin/layout-admin.html.twig' %}
{% else %}
    {% set layout = 'organizer/layout-organizer.html.twig' %}
{% endif %}

{% extends '::' ~ layout %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>My Events</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ formHeading }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {% form_theme eventForm 'Forms/bootstrap_3_horizontal_layout.html.twig' %}

                            {{ form_start(eventForm, {'attr': {'class': 'form-horizontal form-label-left'}}) }}

                            {{ form_widget(eventForm) }}

                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    {% if posterImage is defined and posterImage is not null %}
                                        <img src="{{ asset('uploads/poster/' ~ posterImage) }}" style="width:100px">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success" formnovalidate>Save</button>
                                </div>
                            </div>

                            {{ form_end(eventForm) }}

                            {% if selectedCity is defined %}
                                {{ selectedCity }}
                                <script>
                                    var EVENT_SELECTED_CITY = {{ selectedCity }};
                                </script>
                            {% else %}
                                <script>
                                    var EVENT_SELECTED_CITY = 0;
                                </script>
                            {% endif %}




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}