{% extends '::front/layout-front.html.twig' %}

{% block content %}

<div class="container" style="min-height: 530px; margin-top: 50px">
    <div class="row">
        <div class="col-lg-4 offset-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(forgetForm) }}
            <h1 class="text-center">Forget Password</h1>

            <div>{{ form_row(forgetForm.yourEmail) }}</div>
            <div>
                <button class="btn btn-theme-red pull-left" type="submit" formnovalidate>Send</button>
            </div>
            {{ form_end(forgetForm) }}
        </div>
    </div>
</div>
{% endblock %}




