{% extends '::front/layout-front.html.twig' %}

{% block content %}

    <div class="container" style="min-height: 530px; margin-top: 50px">
        <div class="row">
            <div class="col-lg-4 offset-4">
                {{ form_start(form) }}
                <h1 class="text-center">Login Form</h1>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}

                {% if error %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div>{{ form_row(form._username) }}</div>
                <div>{{ form_row(form._password) }}</div>
                <div>
                    <button class="btn btn-theme-red pull-left" type="submit">Login</button>
                    <span class="pull-right">
                        <a href="{{ path('security_forget_password') }}" class="to_register"> Forget Password </a>
                    </span>
                </div>

                <div>
                    <span class="pull-right">
                        New to site?
                        <a href="{{ path('security_register') }}" class="to_register"> Create Account </a>
                    </span>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}


