{% extends '::front/layout-front.html.twig' %}

{% block content %}

<div class="container" style="min-height: 530px; margin-top: 50px; margin-bottom: 50px">
    <div class="row">
        <div class="col-lg-4 offset-4">
            {{ form_start(registerForm) }}
            <h1 class="text-center">Create Account</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}


            {{ form_row(registerForm.username) }}
            {{ form_row(registerForm.password) }}
            {{ form_row(registerForm.name) }}
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.mobile) }}

            <div>
                <button class="btn btn-theme-red pull-left" type="submit" formnovalidate>Register</button>
                <span class="pull-right">Already a member ? <a href="{{ path('security_login') }}" class="to_register"> Log in </a></span>
            </div>

            {{ form_end(registerForm) }}

        </div>
    </div>
</div>

{% endblock %}

